* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #534c8c;
}
header {
  position: fixed;
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 20px;
  z-index: 999;
}
section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  margin: auto;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  margin: 50px 20px;
  box-sizing: border-box;
  gap: 30px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.container div {
  border-radius: 30px;
  overflow: hidden;
}
.background {
  max-width: 300px;
  max-height: 300px;
  border-radius: 30px;
  overflow: hidden;
}
img {
  transition: 0.8s ease-in;
}
img:hover {
  transform: scale(1.1);
}
.content {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  max-height: min-content;
  padding: 25px 20px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.content h1 {
  width: 100%;
  text-align: center;
}
.content div {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.content div h3 {
  margin-top: 15px;
  box-sizing: border-box;
}

.content div p {
  margin-top: 18px;
}

.content a {
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 10px;
  background-color: #f5c73b;
  padding: 5px 20px;
  transition: 0.5s;
}

.content a:hover {
  background-color: #FFE186;
  color: red;
}
